<h2>Login</h2>
<form method="POST" action="/login">
  <label>Email:<br><input type="email" name="email" required value="gopim@pronixinc.com"></label><br><br>
  <label>Password:<br><input type="password" name="password" required value="Admin@1234"></label><br><br>
  <button type="submit">Login</button>
</form>